@model Hushhlist.Models.ViewModels.HostEventsViewModel

@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<h1>Events Create</h1>

<form asp-action="Create" asp-route-HostId=@UserManager.GetUserId(User) method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="HostEvent.EventTitle"></label>
        <input asp-for="HostEvent.EventTitle" />
        <span asp-validation-for="HostEvent.EventTitle"></span>
    </div>
    <div>
        <label asp-for="@Model.HostEvent.Status"></label>
        <select asp-for="@Model.HostEvent.Status" asp-items="@Model.Status" onchange="ShowHideDateInput(this)"></select>
        <span asp-validation-for="HostEvent.Status"></span>
    </div>
    <div class="DateInput">
        <label asp-for="@Model.HostEvent.EventDate"></label>
        <input asp-for="@Model.HostEvent.EventDate" />
        <span asp-validation-for="HostEvent.EventDate"></span>
    </div>
    <div>
        <label asp-for="@Model.HostEvent.Location"></label>
        <input asp-for="@Model.HostEvent.Location" />
    </div>
    <div>
        <label asp-for="@Model.HostEvent.EventDescription"></label>
        <input asp-for="@Model.HostEvent.EventDescription" />
        <span asp-validation-for="HostEvent.EventDescription"></span>
    </div>
    <div>
        <label asp-for="@Model.HostEvent.EventPassword"></label>
        <input asp-for="@Model.HostEvent.EventPassword" />
        <span asp-validation-for="HostEvent.EventPassword"></span>
    </div>
    <div>
        <label asp-for="@Model.HostEvent.MaxReservable"></label>
        <input asp-for="@Model.HostEvent.MaxReservable" value="3" min="0" max="10" />
    </div>
    <button type="submit">Submit</button>
</form>